tradebot.console/bin/
tradebot.console/obj/
tradebot.console/appsettings.dev.json
tradebot.tests/bin/
tradebot.tests/obj/
tradebot.tests/.vscode/
tradebot.tests/appsettings.dev.json
tradebot.testconsole/bin
tradebot.testconsole/obj
tradebot.core/bin
tradebot.core/obj
tradebot.api/bin
tradebot.api/obj
tradebot.api/bin/
tradebot.api/obj/
tradebot.api/botsettings.dev.json
libraries/Binance.Net/bin/
libraries/Binance.Net/obj/
libraries/Bittrex.Net/bin/
libraries/Bittrex.Net/obj/
libraries/DotNetCore.CAP/bin/
libraries/DotNetCore.CAP/obj/
libraries/DotNetCore.CAP.RabbitMQ/bin/
libraries/DotNetCore.CAP.RabbitMQ/obj/
libraries/DotNetCore.CAP.SqlServer/bin/
libraries/DotNetCore.CAP.SqlServer/obj/