tradebot.console/bin/
tradebot.console/obj/
tradebot.console/.vscode/
tradebot.console/appsettings.dev.json
tradebot.tests/bin/
tradebot.tests/obj/
tradebot.tests/.vscode/
tradebot.tests/appsettings.dev.json
tradebot.testconsole/bin
tradebot.testconsole/obj
tradebot.core/bin
tradebot.core/obj
tradebot.api/core
tradebot.api/obj
Binance.Net/bin/
Binance.Net/obj/
Bittrex.Net/bin/
Bittrex.Net/obj/